.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 70vh;
	font-size: 36px;
}

.container {
	width: 90%;
	max-width: 1500px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	position: relative;
}

.container::after {
	content: "";
	width: 4px;
	height: 100%;
	background: url(../img/hielo13.jpg);
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	z-index: 1;
}

.evento {
	display: flex;
	justify-content: space-between;
	margin-top: 200px;
	margin-bottom: 200px;
	position: relative;
}

.evento::after {
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 100px;
	background: url(../img/hielo13.jpg);
	border: 2px solid white;
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 10px);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.fecha {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: calc(42% + 20px);
	font-size: 25px;
	font-weight: bold;
	background: url(../img/hielo13.jpg);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.foto {
	width: 42%;
	position: relative;
}

.foto::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	/* border-left: 20px solid rgb(0, 60, 190); */
	border-left: 20px solid rgb(44, 71, 208);
	position: absolute;
	right: -50px;
	top: calc(50% - 20px);
}

.foto img {
	width: 100%;
	vertical-align: top;
}

.evento:nth-child(even) {
	flex-direction: row-reverse;
}

.evento:nth-child(even) .fecha {
	justify-content: end;
}

.evento:nth-child(even) .foto::after {
	content: "";
	border: 20px solid transparent;
	border-right: 20px solid rgb(44, 71, 208);
	right: initial;
	left: -50px;
}