.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 200px;
  width: 99vw;
}

.card{
  position: relative;
  width: 320px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.card .poster{
  position: relative;
  overflow: hidden;
}

.card .poster::before{
  z-index: 1;
  content: "";
  position: absolute;
  bottom: -400px;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgb(124, 176, 253), rgba(0,0,0,0)), url('../img/hielo10.jpg');
  mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0,0,0,1)));
  transition: 2s;
  background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.card:hover .poster::before{
  bottom: 100px;
}

.card .poster img{
  width: 100%;
  transition: 0.5s;
  transform: translateY(-50px);
}

.card:hover .poster img{
  filter: blur(3px);
}

.card .details{
  z-index: 2;
  position: absolute;
  min-height: 235px;
  width: 100%;
  bottom: -160px;
  left: 5px;
  padding: 20px;
  transition: 1s;
}

.card:hover .details{
  margin-bottom: 150px;
}

.card .details h1{
  font-size: 2rem;
  max-width: 180px;
  margin-bottom: 10px;
  font-weight: bold;
  background: url(../img/hielo8.jpg);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card .details h3{
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-weight: bold;
  background: url(../img/hielo15.jpg);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card .details h5{
  font-size: 1rem;
  color: white;
  font-weight: bold;
  background: url(../img/hielo15.jpg);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}