.container{
  z-index: 4;
  position: fixed;
  top: 0;
  color: white;
  font-size: 2rem;
  height: 100px;
  width: 100vw;
  background: url(../img/hielo14.jpg);
	background-size: cover;
}

.container::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0.1px 1px 1.5px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.4);
}

.linksContainer{
  position: absolute;
  display: flex;
  justify-content: space-around;
  text-align: center;
  right: 8%;
  bottom: 7px;
  margin-right: 25px;
}
.linksContainer p{
  font-weight: bold;
  background: url(../img/hielo11.jpg);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 150px;
}
.link{
  margin-right: 40px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .3); 
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .1);
  backdrop-filter: blur(3px);
}

.cartContainer{
  height: 48px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  text-align: center;
  right: 0;
  bottom: 7px;
  margin-right: 25px;
}
.cart{
  width: 75px;
  padding-right: 5px;
}
.cartButton{
  margin-right: 40px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .3); 
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .1);
  backdrop-filter: blur(3px);
  color: rgb(198, 222, 255);
}